<div>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Main Page</a></li>
      <li><a routerLink="/champions-league" routerLinkActive="active" ariaCurrentWhenActive="page">Champions League</a></li>
      <li><a routerLink="/europa-league" routerLinkActive="active" ariaCurrentWhenActive="page">Europa League</a></li>
      <li><a routerLink="/conference-league" routerLinkActive="active" ariaCurrentWhenActive="page">Conference League</a></li>
    </ul>
  </nav>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</div>
